{% extends "ca_view_base.html" %}

{% block ca_view %}
  <div class="row ml-1 mr-1 mb-2">
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">서비스명</span></div>
    <div class="col-6 p-2 border">{{ cert_record.cert_title }}</div>
    <div class="col-1 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">국가코드</span></div>
    <div class="col-1 p-2 border">{{ cert_record.country_name }}</div>
    <div class="col-1 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">시/도</span></div>
    <div class="col-1 p-2 border">{{ cert_record.province_name }}</div>
  </div>
  <div class="row ml-1 mr-1 mb-2">
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">기관명</span></div>
    <div class="col-5 p-2 border">{{ cert_record.organization_name }}</div>
    <div class="col-1 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">시/군/구</span></div>
    <div class="col-1 p-2 border">{{ cert_record.locality_name }}</div>
    <div class="col-1 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">부서</span></div>
    <div class="col-2 p-2 border">{{ cert_record.organizational_unit_name }}</div>
  </div>
  <div class="row ml-1 mr-1 mb-2">
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">담당자 이메일</span></div>
    <div class="col-2 p-2 border">{{ cert_record.email_address }}</div>
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">인증서 도메인</span></div>
    <div class="col-3 p-2 border">{{ cert_record.common_name }}</div>
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">유효기간(일단위)</span></div>
    <div class="col-1 p-2 border">{{ cert_record.cert_days }}</div>
  </div>
  <div class="row ml-1 mr-1 mb-2">
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">생성일자</span></div>
    <div class="col-10 p-2 border">{{ cert_record.created_date }}</div>
  </div>
  {% if cert_record.cert_status == 'CERTIFICATED' %}
  <div class="row ml-1 mr-1 mb-2">
    <div class="col-2 p-2 text-white" style="background-color: cornflowerblue;"><span class="font-weight-bold">유효기간</span></div>
    <div class="col-10 p-2 border">{{ cert_record.certificate_date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12 text-right">
      <div class="btn-group">
        {% if cert_record.cert_status == 'CSR' %}
          <button class="btn btn-primary" onclick="certificate_sign('{{ cert_record.id }}')">승인</button>
          <button class="btn btn-danger" onclick="certificate_delete('{{ cert_record.id }}')">삭제</button>
        {% elif cert_record.cert_status == "CERTIFICATED" %}
          <button class="btn btn-danger" data-toggle="modal" data-target="#certificate_revoke">박탈</button>
          <a href="{{ url_for('certificate_download', catop=ca_record.catop, cert_id=cert_record.id, ca_include="true") }}" class="btn btn-success">인증서 다운로드(CA 포함)</a>
          <a href="{{ url_for('certificate_download', catop=ca_record.catop, cert_id=cert_record.id, ca_include="false") }}" class="btn btn-success">인증서 다운로드(CA 제외)</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h4>인증서 이력</h4>
      <table class="table">
        <tr>
          <th style="width: 14%;">날짜</th>
          <th>이력</th>
        </tr>
        {% for row in cert_record.history %}
        <tr>
          <td>{{ row['DATE'] }}</td>
          <td>{{ row['NOTE'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- 인증 취소 모달 -->
  <div class="modal fade" id="certificate_revoke" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="certificateRevokeLabel">인증서 인증 취소</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="spanCertTitle" class="col-sm-3 col-form-label">인증서 이름</label>
            <div class="col-sm-9">
              <span id="spanCertTitle" class="form-control-static">{{ cert_record.cert_title }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="crl_reason" class="col-sm-3 col-form-label">인증 취소 사유</label>
            <div class="col-sm-9">
              <select id="crl_reason" class="form-control">
                <option value="">선택하세요</option>
                <option value="unspecified">불특정</option>
                <option value="keyCompromise">키 손상</option>
                <option value="CACompromise">CA 타협</option>
                <option value="affiliationChanged">소속 변경</option>
                <option value="superseded">인증서 대체</option>
                <option value="cessationOfOperation">운영중단</option>
                <option value="certificateHold">인증보류</option>
                <option value="removeFromCRL">CRL에서 제거</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="certificate_revoke('{{ cert_record.id }}')">인증 취소 실행</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  <script>
  function certificate_delete(cert_id) {
      if (confirm('이 인증 요청서를 삭제하시겠습니까?')) {
          axios.delete("{{ url_for('certificate_delete', catop=ca_record.catop, cert_id=cert_record.id ) }}").then(function (resp) {
              if (resp.data.success) {
                  alert(resp.data.message)
                  location.href = "{{ url_for('ca_view', catop=ca_record.catop) }}"
              } else {
                  alert(resp.data.message)
              }
          })
      }
  }

  function certificate_sign(cert_id) {
      if (confirm('인증 요청서를 승인하시겠습니까?')) {
          axios.post('{{ url_for('certificate_sign', catop=ca_record.catop, cert_id=cert_record.id ) }}').then(function (resp) {
              if (resp.data.success) {
                  alert(resp.data.message)
                  location.reload()
              } else {
                  alert(resp.data.message)
              }
          })
      }
  }

  function certificate_revoke(cert_id) {
      var crl_reason = document.querySelector("#crl_reason")

      if (crl_reason.value === '') {
          alert('인증 취소 사유를 선택하셔야 합니다')
          return
      }

      if (confirm('인증서 승인을 취소하시겠습니까?\n반복할 수 없습니다')) {
          axios.post('{{ url_for('certificate_revoke', catop=ca_record.catop, cert_id=cert_record.id ) }}', {reason: crl_reason.value}).then(function (resp) {
              if (resp.data.success) {
                  alert(resp.data.message)
                  location.reload()
              } else {
                  alert(resp.data.message)
              }
          })
      }
  }
  </script>
{% endblock %}
